################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Apex-Reporting-Single-SQL-/FileContentIndex/12c9a7fb-01b0-4b0a-988f-78f137118519.vsidx
